.app-filter {
  display: flex;
  max-width: 16.6rem;
  height: 4.8rem;
  position: relative;
  &:focus {
    border: 0.1rem solid var(--clr__input-border);
  }
  &__dropdown-inner {
    .vue-picker-option_cur,
    .vue-picker-option:hover {
      color: var(--clr__action);
      background: rgba(204, 228, 255, 0.4);
    }
  }
  &--coin {
    border: 0.1rem solid transparent;
    min-width: 13.8rem;
  }
  &--rounding {
    &-left{
      border-radius: 0.8rem 0 0 0.8rem;
    }
  }
}
.vue-picker {
  &__opener {
    padding: 0;
    border: none;
    &:hover, &:focus {
      border-color: transparent;
      box-shadow: inset 0 0 0 1px transparent;
    }
  }
  &__dropdown {
    min-width: 14rem;
    padding: 0;
    border: none;
    box-shadow: 0 0.4rem 2.4rem rgba(8, 87, 172, 0.12);
    border-radius: 0 0 0.8rem 0.8rem;
  }
  &__opener-ico {
    color: #212529;
    &:after {
      border: 0.1rem solid #212529;
      border-width: 0 2px 2px 0;
    }
  }
  &_open {
    .vue-picker__opener-ico {
      transform: rotate(180deg);
      &:after {
        border: 0.1rem solid var(--clr__action);
        border-width: 0 2px 2px 0;
      }
    }
  }
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.empty {
  grid-column-start: 1;
  grid-column-end: -1;
  color: var(--clr__input-border);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.block-id {
  font-size: 24px;
  font-weight: 400;

  @media screen and (max-width: 1500px) {
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
    display: block;
  }
}
