.view-main,
.view-header {
  width: 100%;
  max-width: 1280px;
  padding: 0 3.2rem;
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    padding: 0 1.6rem;
  }
}

.view-header {
  padding: 3.2rem 3.2rem 6.4rem;
}

h2.view-title {
  font-size: 3.2rem;
  line-height: 4.6rem;
}

.container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
