.view-main{
  width: 100%;
  max-width: 140rem;
  padding: 0 3.2rem;
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    padding: 0 1.6rem;
  }
}

.header-wrapper {
  padding: 2.5rem 1rem;
  width: calc(100% - 20.6rem);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:5.4rem;
  max-width: 100%;
  margin: 0 10.3rem;
  position: relative;
  @media (max-width: 768px) {
    width: 100%;
    margin: 0;
    justify-content: space-between;
  }
}

.view-header {
  border-bottom: 0.1rem solid #CCE4FF;
  margin-bottom: 3rem;
}

h2.view-title {
  font-size: 3.2rem;
  line-height: 4.6rem;
}

.container{
  width: calc(100% - 20.6rem);
  margin: 0 10.3rem 0 10.3rem;
  @media (max-width: 99.2rem) {
    width: 100%;
    margin: 0 auto;
    padding: 0 2.5rem;
  }
  @media (max-width: 480px) {
    padding: 0 1.6rem;
  }
}
